.tooltip {
    position: absolute;
    border-bottom: 1px dotted black;
    min-width: 200px;
    min-height: 50px;
    z-index: 1000;
}
.black{
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.8;
}