.line_i {
    fill: none;
    stroke: #22B14C !important;
    stroke-width: 1.5px !important;
}
.line_e {
    fill: none;
    stroke: #FF7F27 !important;
    stroke-width: 1.5px !important;
}